@import url("../css/style.css");

$primary-color: white;

@function tamanioImg($tam){
    @return($tam*50);
}
.row{
    p{
        text-align: center;
        color: $primary-color;
    }
}
div{
    .images{
        width: tamanioImg(7px);
        height: tamanioImg(7px);
        margin-left: 20%;
    }
}